body{margin:0; margin-top:0; padding:0; font: normal normal 13px/15px Georgia, 'Lucida Grande', Verdana, sans-serif; background-color:#fff; color:#000;}
p {font-size:13px; line-height:1.5em; margin:0; padding:5px 0;}
h3{font-size:14px; color: #000; padding: 4px; text-align:center}

h2.salary{font-size:14px; font-style:italic; color: #000; padding: 4px;}

a, a:visited{color:#cc0000}
hr{border:1px solid #e8e8e8; background:#e8e8e8;}
img{padding:2px; margin:4px;}

a.link_1, a.link_1:visited{ color:gray; font-size:14px; text-decoration:underline; font-weight:bold}
a.link_1:hover{ text-decoration:underline; color:#c00;}
a.link_4, a.link_4:visited{ color:#cc0000; font-size:13px; text-decoration:underline; font-weight:normal}
a.link_4:hover{ text-decoration:underline; color:#990000}

input.text{font-size:14px; font-weight:normal; background-color:#fff; height:16px; font-family:verdana; border:2px solid silver; width:100px;}
select.text{font-size:10px; font-weight:normal; background-color:#fff; font-family:verdana; border:1px solid silver}
input.but1{height:30px; font-size:13px; font-weight:bold; text-align:center; background-color:#E0E0E0;  font-family:verdana; border:1px solid gray; cursor:pointer; color:#000; padding:2px 4px;}

ul {margin: 10px; padding: 0;}

hr.divider{
color: #c00;
background-color: #c00;
height: 5px;
}

table.graf_tab th{font-weight:bold; font-size:13px; text-align:center;}

.mainBody{padding:1em;  border-left: 1px solid #e4e4e4; height:100%;min-height:530px;}
.mainBody h1{font-size:18px; text-align:left; margin-bottom: 1.2em; color:rgb(102,102,102); border-bottom: 1px solid rgb(204, 204, 204); padding-bottom:2px;}

#mainContent {
    margin-left: 19.35em;
    height:100%;
    min-height:550px;
}

.pad2{display:block; height:100px;}

.content { margin:4px; font-size:15px; display:inline; vertical-align:top;}

.menu_right{margin:4px 5px; padding:5px; font-size:15px; display:inline; vertical-align:top; float:right;}
.menu_right a.lk1, .menu_right a.lk1:visited{font-weight: normal; color:#000; text-decoration:none;}
.menu_right a.lk1:hover{font-weight: normal; color:#000; text-decoration:none; border-bottom:1px solid #000;}
.menu_right a.lk2, .menu_right a.lk2:visited{font-weight: normal; color:#c00; text-decoration:none; border-bottom:1px dashed #c00; padding-bottom:2px;}
.menu_right a.lk2:hover{font-weight: normal; color:#000; text-decoration:none; border-bottom:1px solid #000;}

.content1 { margin:4px; font-size:15px; vertical-align:top; float:right; padding-left:5px; width:50%; text-align:right;}
.content2{ margin:4px; font-size:15px; float:right; vertical-align:top; padding-left:5px; text-align:right;}

#header{border-bottom: 5px solid silver; margin-bottom:4px; padding:0 20px;}

#footer {
	position: relative;
	bottom: 0;
	border-top: 8px solid silver;
	width: 100%;
	background-color: #fff;
	left:0;
	line-height: 1em;
}
#footer p {
	padding: 10px;
	font-size: 7pt;
}

#sidebar {
	width: 19.3em;
        position:relative;
	float:left;
	background-color: #ffffff;
	/*border-right: 1px solid #e4e4e4;*/
	overflow: hidden;
	padding: 0 0 5em 0;
	min-width: 232px;
        height:100%;
        min-height:550px;
}

#sidebar ul {
	padding: 0;
	margin: 4px 4px 4px 20px;
	list-style: none;
}
/*верхнее меню (ссылки)*/
.topmenu{text-align:center; margin:4px 0; font-size:15px; width:100%; padding:4px 0;}
.topmenu span a, span a:visited{font-weight: bold; font-size:13px; color:rgb(102, 102, 102); text-decoration:none; padding:10px 12px; border-right: 1px solid rgb(204, 204, 204);}
.topmenu span a:hover{font-weight: bold; text-decoration:none; color:#c00;}

.clearfloat {
   clear:both;
   height:0;
   font-size: 1px;
   line-height: 0px;
}
#site_map div {
    float: left;
    width: 33%;
    padding: 0;
    text-align:left;
    background: #e4e4e4;
    height:500px;
}
#site_map div h4{padding:0 10px 0 10px; margin-left:10px; color:#000; border-bottom:1px solid #808080; text-align:left; font-weight:normal;}
#site_map div p{padding:0 10px 0 10px;}
#site_map div ul li{padding:0 4px 4px 10px; list-style:none;}
#site_map div a.lk3,#site_map div a.lk3:visited{color:#000; text-decoration:none; /*border-bottom:1px solid #808080;*/ padding-bottom:2px;}
#site_map div a.lk3:hover{color:#c00; border-bottom:1px solid #c00;}
#site_map div a.lk2,#site_map div a.lk2:visited{color:#c00; text-decoration:none; border-bottom:1px dashed #c00; padding-bottom:2px; font-weight:bold;}
#site_map div a.lk2:hover{color:#000; border-bottom:1px dashed #000;}

a:focus {
	outline: none;
}
#site_map {
        background: #e4e4e4;
        height:500px;
	display: none;
        border-bottom:2px solid silver;
}
.slide {
	margin: 0;
	padding: 0;
        width:20%;
        position:relative;
        float:left;
        text-align:left;
}

#slide_inside{position:relative; float:left; margin-left:10px;}

.active {
	/*background-position: right -45px;*/
}

.navibar{background-color:#fff; 
        /*display:block; */
        padding:4px; margin:0; padding-left:-5px;  border-left: 1px solid #e4e4e4;}
.navibar a, .navibar a:visited{color:#000; font-size:12px; text-decoration:none; border-bottom:1px dashed #000; text-transform:lowercase}
.navibar a:hover{color:#c00; border-bottom:1px dashed #c00; text-decoration:none;}