body{margin: 0 auto; /*это чтоб центрировать контент при превышении max-width*/
  min-width:1000px;
  max-width: 1920px;
  padding:0;
  width:100%;
  font: normal normal normal 13px/normal 'Trebuchet MS';
  /*
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 13px;
  */
background: #FFFFFF; color:#000;}
p, ul li, ol li{font-size:1em; line-height:1.5em; margin:0px; padding:0px;}
ul,ol {margin: 0px; padding: 0px;}
h1{text-align:center; padding:4px; margin:0px;}
h2{color:#363636; margin: 20px 0px 10px 40px;}
h3{padding: 4px; text-align:center}

/* Links */
a, a:visited{color:#f00; text-decoration:none;}
a:hover{color:#000;}

a.black-to-red, a.black-to-red:visited{color:#000;}
a.black-to-red:hover{color:#f00;}

a.grey-to-red, a.grey-to-red:visited{color:#808080;}
a.grey-to-red:hover{color:#f00;}

img{border:0; padding:0; margin:0;}

input.text,input.text_1,select.text,select.text_1{font-size:14px; font-weight:normal; background-color:#fff; height:16px; border:2px solid silver; width:300px;
    display: block;
     -o-border-radius:5px;
-icab-border-radius: 5px;
-khtml-border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px 5px 5px 5px;
padding: 5px;
}


/* HEADER */
#header{height: 110px; margin:0px auto; padding:0px; width:100%;}

.menu_right{margin:4px 5px; padding:5px; font-size:100%; display:inline; vertical-align:top; float:right; position:relative;}
.menu_right a.lk1, .menu_right a.lk1:visited{font-weight: normal; color:#000; text-decoration:none;}
.menu_right a.lk1:hover{font-weight: normal; color:#000; text-decoration:none; border-bottom:1px solid #000;}
.menu_right a.lk2, .menu_right a.lk2:visited{font-weight: normal; color:#f00; text-decoration:none; border-bottom:1px dashed #f00; padding-bottom:2px;}
.menu_right a.lk2:hover{font-weight: normal; color:#000; text-decoration:none; border-bottom:1px solid #000;}

#site_map {
        background: #eee;
	display: none;
        overflow: auto;
        margin:0px;
        width:100%;
        border:1px solid #e4e4e4;
        background: #e4e4e4;
        -o-border-radius: 8px;
-icab-border-radius: 8px;
-khtml-border-radius: 8px;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
}

#site_map div {
    float: left;
    width: 33%;
    padding: 0;
    text-align:left;
    height:500px;
}
#site_map div h3{font-size:1em; color: #000; padding: 4px; text-align:center}
#site_map div h4{padding:0 10px 0 10px; margin-left:10px; font-size:0.9em; color:#000; border-bottom:1px solid #808080; text-align:left; font-weight:normal;}
#site_map div p{padding:0 10px 0 10px;}
#site_map div ul li{padding:0 4px 4px 10px; list-style:none;}
#site_map div a.lk3,#site_map div a.lk3:visited{color:#000; text-decoration:none; /*border-bottom:1px solid #808080;*/ padding-bottom:2px;}
#site_map div a.lk3:hover{color:#f00; border-bottom:1px solid #f00;}
#site_map div a.lk2,#site_map div a.lk2:visited{color:#f00; text-decoration:none; border-bottom:1px dashed #f00; padding-bottom:2px; font-weight:bold;}
#site_map div a.lk2:hover{color:#000; border-bottom:1px dashed #000;}

a:focus {
	outline: none;
}

.slide_map {
	margin: 0;
	padding-left: 10px;
        width:124px;
        position:relative;
        float:left;
        text-align:left;
}
.slide_map li{list-style-type:none; position:relative; float:left;}
.slide_map li img{padding:2px; margin:3px;}

#menu{height:35px; width:100%; margin:0 auto 30px; padding:0; text-align:center; z-index:2000;}

#menu ul {z-index:100; margin:0px auto; padding:0; list-style:none; min-width: 200px; display:inline-block;}
#menu li {z-index:100; margin:0; padding:0; list-style:none; display:inline-block; display:inline;}
#menu ul ul {z-index:100; position:absolute; left:-9999px; padding:1px 0;}
#menu ul.level1 {z-index:100; margin:0 auto; padding:0; font-size:19px;}
#menu ul.level1 li.level1-li {z-index:100; float:left; display:block; position:relative;}

#menu ul.level1 li.level1-li a, #menu ul.level1 li.level1-li a:link, #menu ul.level1 li.level1-li a:visited{
	color: #000;
        padding:5px 14px;
        font-weight:bold;
	text-decoration: none;
        text-align:left;
}

#menu ul.level1 li.level1-li a:hover, #menu ul.level1.level1-li li a:active{
	color: #f00;
	text-decoration: none;
}

#menu ul.level2 {background:#fff; border: 1px solid silver; opacity:0; z-index:1000;

-o-box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
-icab-box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
-khtml-box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
-webkit-box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);

-o-border-radius: 8px;
-icab-border-radius: 8px;
-khtml-border-radius: 8px;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;

-webkit-transition: opacity 0.6s ease-in-out;
}

#menu ul.large{width:550px;}
#menu ul.large div.left-column{float:left;width:50%;}
#menu ul.large div.left-column dl{margin:10px 0px 20px 5px; line-height: 14px;}
#menu ul.large div.left-column dl a{margin:0px; padding:0px; line-height: 12px;}
#menu ul.large div.left-column dl dt{font-weight: bold; text-align: left; margin:10px 5px; font-size: 13px;}
#menu ul.large div.left-column dl dd{padding:0px 0px 8px 10px; margin:0px; font-size: 12px;}

#menu ul.level1 li.level1-li ul.level2 li a,#menu ul.level1 li.level1-li ul.level2 li a:link,#menu ul.level1 li.level1-li ul.level2 li a:visited{
	color:#000; text-decoration:none; background:none; border:none; font-size:11px; font-weight:normal;
}

#menu ul.level1 li.level1-li ul.level2 li a:hover, #menu ul.level2 li a:active{color: #f00;text-decoration: none; background:none;}
#menu ul.level1 li.level1-li ul.level2 li h4{font-size:13px; padding:2px 5px; text-align:left;}

 #menu b {position:absolute;} /* -- for IE6 non-flyout dropdowns to stop flickering - who knows why --*/

#menu a {display:block; font:normal 0.8em verdana,arial,sans-serif; color:#fff; line-height:32px; text-decoration:none; padding:0 30px 0 10px;}
#menu ul ul a {line-height:25px;}

#menu li.left ul li a {padding:0 10px 0 30px; margin-right:0; margin-left:-10px;}

#menu ul.level1 li.level1-li a.level1-a {float:left;}

#menu ul li.level1-li:hover {padding-bottom:10px; margin-bottom:-10px;}

#menu ul li:hover > ul {visibility:visible; left:0; top:32px; opacity:1; margin-top:0px;}
#menu ul ul li:hover > ul {visibility:visible; left:100%; top:auto; margin-top:-32px; opacity:1;  margin-left:8px;}
#menu li.left:hover > ul {visibility:visible; left:auto; right:-10px; top:32px; opacity:1; margin-right:10px; }
#menu li.left ul li:hover > ul {visibility:visible; left:auto; right:100%; top:auto; margin-top:-32px; margin-right:10px; opacity:1; }


#menu a:hover ul {left:0; top:28px;}
#menu li.left a:hover ul {left:auto; right:-1px; top:28px;}

#menu li.left ul a {text-align:right; padding:0 10px 0 20px;}


#menu a:hover a:hover ul,
#menu a:hover a:hover a:hover ul {left:100%; visibility:visible; }
#menu li.left a:hover a:hover ul,
#menu li.left a:hover a:hover a:hover ul {left:auto; right:0; visibility:visible;}

#menu a:hover ul ul,
#menu a:hover a:hover ul ul {left:-9999px;}
#menu li.left a:hover ul ul,
#menu li.left a:hover a:hover ul ul {left:-9999px;}

#menu li a:hover,
#menu li a.fly:hover {color:#fff; direction:ltr;}
#menu ul li:hover > a,
#menu ul li:hover > a.fly {color:#fff;}

#menu table {position:absolute; height:33px; width:0; left:0; border-collapse:collapse; margin-top:-4px;}
#menu table table {position:absolute; left:99%; height:0; width:0; border-collapse:collapse; margin-top:-44px;}

#info .clear {clear:left;}
#info img {display:block; margin:0px auto;}

.yaform-holster{position:relative; bottom: 0px; margin: 0px auto; width:100%; text-align: center;}

#second-line-menu{list-style-type: none; width:100%; height:70px;}
#second-line-menu li{position: relative; float: left; height: 70px;}
#second-line-menu li#logo, #second-line-menu li#contacts{width: 30%; }
#second-line-menu li#yandex-search{width: 40%;}
#second-line-menu li#contacts_img {width:17%; text-align:right;}
#second-line-menu li#contacts {width: 12%; font-size:16px; font-weight:bold;}

.clearfloat{
    clear:both;
}

#mainContent {
    margin: 5px;
    padding:5px;
    height:100%;
    min-height:550px;
    border:none;
}

.clearfloat {
   clear:both;
   height:0;
   font-size: 1px;
   line-height: 0px;
}

/*CONTENT*/
table{border-collapse: collapse;}
table td{padding: 5px 10px;}


h3{text-align:left; margin:0 4px; padding-left:10px; font-size:100%; color:#000; padding-bottom:2px;}

div a.title_h3, div a.title_h3:visited{color:#808080; text-decoration:none; font-size:100%; text-align:left;}
div a.title_h3:hover{color:#c00; text-decoration:none;}

/* jquery JCarousel for sliding clients */
.jcarousel-skin-tango .jcarousel-container {
    background: #fff;
    border: 1px solid silver;
-o-border-radius:8px;
-icab-border-radius:8px;
-khtml-border-radius:8px;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    /*width: 245px;*/
    padding: 20px 40px;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  245px;
    height: 75px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 75px;
    height: 75px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-right: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 43px;
    right: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(http://sorgalla.com/projects/jcarousel/skins/tango/next-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
    background-position: -32px 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 43px;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(http://sorgalla.com/projects/jcarousel/skins/tango/prev-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
    background-position: -32px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}


/**
 * Overwrite for having a carousel with dynamic width.
 */

.jcarousel-skin-tango .jcarousel-container-horizontal {
    height:75px;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width: 100%;
}

#mycarousel {height:75px;}
#mycarousel li{position:relative; float:left; top:5px;
   list-style:none; margin:auto 2px;}

#mycarousel img{
    border:0;
    max-height:65px;
    max-width: 91px;
    height:auto;
    width: auto;
}

/*Anything slider*/
.anythingSlider                         { width: 921px; height: 345px; margin:0 auto; border: 1px solid silver;
                                          border-bottom:none;
                                         -webkit-border-top-right-radius: 5px;
-webkit-border-top-left-radius: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-topleft: 5px;
border-top-right-radius: 5px;
border-top-left-radius: 5px;}
.anythingSlider .wrapper1                { width: 921px; overflow: hidden; height: 100%;
                          position: relative; top: 0px; left:0px;}

                                        /* Width below is max for Opera */
.anythingSlider .wrapper1 ul             { width: 5526px; list-style: none; position: absolute; top: 0; left: 0;
                          margin:0px; height: 100%;}
.anythingSlider .wrapper1 ul li          { display: block; float: left; padding: 0px 5px;
                          height: 100%; width: 911px; margin: 0; }

.anythingSlider .wrapper1 ul li h2{margin:20px 0px 30px 20px;}
/*
.anythingSlider .arrow                  { display: block; height: 200px; width: 67px; background:#fff url(http://css-tricks.com/examples/AnythingSlider/images/arrows.png) no-repeat 0 0; text-indent: -9999px; position: absolute; top: 100px; cursor: pointer; }
.anythingSlider .forward                { background-position: 0 0; right: -30px; }
.anythingSlider .back                   { background-position: -67px 0; left: -30px; }
.anythingSlider .forward:hover          { background-position: 0 -200px; }
.anythingSlider .back:hover             { background-position: -67px -200px; }
*/
.thumbNav                               { z-index: 10; position:relative; float: right; top:10px; right:10px;
                                          margin-bottom: -40px;}
.thumbNav li                            { display: inline; padding:2px; margin:0 2px 0 0;}
.thumbNav a                             { color: gray; font: 11px/18px Georgia, Serif; display: inline-block;
                                          height:18px; width: 18px;
                                         padding:0px; margin: 0px; background: #fff; text-align: center;
                                         border:1px solid gray;
                                         -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px; }
.thumbNav a.cur, .thumbNav a:hover      { background: #f00; color:#fff; border:1px solid #f00;}

.start-stop {display:none;}

/*
  Prevents
*/
.anythingSlider .wrapper1 ul ul          { position: static; margin: 0; background: none;
                          overflow: visible; width: auto; border: 0; }
.anythingSlider .wrapper1 ul ul li       { float: none; height: auto; width: auto; background: none; }

/*
    For Specific Slides
*/
.anythingSlider .wrapper1 ul li ul.inline-4,.anythingSlider .wrapper1 ul li ul.inline-2{
    width: 100%; padding: 0px; margin: 0px; height: 50%;
}
.anythingSlider .wrapper1 ul li ul.inline-4 li{list-style-type: none; position: relative; float: left;
            width: 25%; padding: 40px 0px 0px 0px; text-align: center;}
.anythingSlider .wrapper1 ul li ul.inline-4 li img{width:64px; height:64px;}
.anythingSlider .wrapper1 ul li ul.inline-2 li{list-style-type: none; position: relative; float: left;
            width: 50%; padding: 0px; margin: 0px;line-height: 16px;}
.anythingSlider .wrapper1 ul li ul.inline-2 li img{width:20px; height:20px;}

.anythingSlider .wrapper1 ul li #personal-report{
    position: relative; float:right; width: 20%;
    background-color: #DAE1E8;
    -webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
    padding: 5px; margin-left: -180px;
}

#salary-on-main span.not_link{color:gray; font-size:80%;}
#salary-on-main select.text_1{padding-left:5px; font-weight:normal; background-color:#fff; border:2px solid silver; width:400px; height:30px;}


/* Services slide */
#services{background: url('/_img/main/289.jpg') no-repeat 25% 100%;}
#services dl dt{font-weight: bold; margin-left: 10px;}
#services dl a, #services dl a:visited{color:#808080;}
#services dl a:hover{color:#f00;}

/* Club Kochubey slide */
#clubkochubey{background: url('http://clubkochubey.ru/images/logo.png') no-repeat 95% 95%;}
#clubkochubey a, #clubkochubey a:visited{color: #2C5853;}
#clubkochubey a:hover{color: #f00;}
#clubkochubey img{height:80px;}

.attention-image{position:relative; float: left;}

#newsletter {
    width: 921px; margin:0 auto;
    border: 1px solid silver;
    background:  #dcdcdc;
    -webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}
div#newsletter ul#news1{width: 721px; min-height:24px; margin:10px 0px;}
div#newsletter ul#news1 li{list-style-type:none; height:20px; padding:2px;}
div#newsletter div#news-menu{position: relative; float: right; text-align: right; width: 200px; height:24px; margin-bottom:-34px; margin-top: 10px; padding:2px 5px;}
div#newsletter div#news-menu a, div#newsletter div#news-menu a:visited{position:relative; bottom:50%;color:#000;}
div#newsletter div#news-menu a:hover{color:#f00;}
div#newsletter div#news-menu a img{position: relative; top:50%;}

.submit{
    font-size:1.3em;
    color:#fff;
    padding:10px;
    margin:5px;
    text-align:center;
    border:1px solid #9ACD32;
    -webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
    font-weight:bold;
    background:#9ACD32;
    cursor:pointer;
}

#second-line-blocks {list-style-type: none; width: 100%;}
#second-line-blocks li{position: relative; float: left; width: 25%;}
#second-line-blocks li dl{padding: 0px 5px; font-size: 11px;}
#second-line-blocks li dl dt{color:#36638E;}
#second-line-blocks li dl dd{margin-left: 10px;}
#second-line-blocks li dl a,#second-line-blocks li dl a:visited{color:#000;}
#second-line-blocks li dl a:hover{color:#f00;}

#consumer-basket{cursor: pointer;}

#third-line-blocks {list-style-type: none; width: 100%;}
#third-line-blocks li {position: relative; float: left;}
#third-line-blocks li#job-search,#third-line-blocks li#comments {width: 25%;}
#third-line-blocks li#clients {width: 50%;}

#third-line-blocks li#job-search table{
    text-align:center;width:90%;margin:0px auto;border: 0px;
}
#third-line-blocks li#job-search input.input-text{width: 90%;}

#comments-body{width:90%; margin: 0px auto; margin-top: 25px; padding:5px;
               background-color: #DAE1E8; border:1px solid #DAE1E8;
               -o-border-radius:8px;
-icab-border-radius:8px;
-khtml-border-radius:8px;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
}

#comments-body a, #comments-body a:visited{color:#000;}
#comments-body a:hover{color:#f00;}
#comments-body img{height:100px;}

.image-left{position: relative;float:left; margin:10px;}


/* FOOTER */
#footer {
    clear: both;
	bottom: 0;
	width: 100%;
        margin-bottom: 5px;
        border-top:1px solid silver;
	color: #666;
	left:0;
	line-height: 1.5em;
}
#footer p {
	padding: 10px;
	font-size: 8pt;
}
#footer a.lk1, #footer a.lk1:visited{color:gray; text-decoration:none; border-bottom:1px dashed gray; margin-bottom:2px;}
#footer a.lk1:hover{color:#c00; text-decoration:none; border-bottom:1px dashed #c00; margin-bottom:2px;}

.sal TD {border: 1px solid #E0E0E0; text-align: center;}