body{margin: 0 auto; /*это чтоб центрировать контент при превышении max-width*/
  min-width:1000px;
  max-width: 1920px;
  padding:0;
  width:100%;
  font: normal normal normal 13px/normal 'Trebuchet MS';}
p,ol,ul,ul li,ol li, td {line-height:1.5em; margin:0px; padding:0px;}
ul li{list-style-type:none;line-height:1.5em;}
ol li{list-style-position:inside;}
dl{display:block;}
h1, h2, h3, h4, h5, h6, h7, h8, h9, h10 {color: #363636; clear:both;}
h1 {font-size: 24px !important;font-weight: normal;margin: 0px 0px 20px 0px;}
h2{font-size:1.4em;  padding: 10px 0px; text-align:left; color:#36638E;}
h3{font-size:1.1em; padding: 0px 0px 10px 20px; text-align:left;}
a.h3-click{cursor: pointer; color:#363636; border-bottom: 1px dashed #363636;}
a.h3-click:hover{color:#f00;border-bottom: 1px dashed #f00;}
a, a:visited{color:#f00; text-decoration: none;}
a:hover{color: #000;}
img{padding:0; margin:0; border:0;}

a.black, a.black:visited{ color:#363636;}
a.black:hover{color:#f00;}
a.black_to_red, a.black_to_red:visited{ color:#363636; margin-bottom: 2px; border-bottom: 1px dashed #363636;}
a.black_to_red:hover{color:#f00; border-bottom: 1px dashed #f00;}
a.link_1, a.link_1:visited{ color:gray; font-size:14px; text-decoration:underline; font-weight:bold}
a.link_1:hover{ text-decoration:underline; color:#f00;}

.submit{background: yellowGreen;border:none;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;color: white;cursor: pointer;font-size: 1.3em;font-weight: bold;margin: 5px;padding: 8px;text-align: center;}
input.text{font-size:14px; font-weight:normal; background-color:#fff; height:16px; font-family:verdana; border:2px solid silver; width:100px;}
select.text{font-size:10px; font-weight:normal; background-color:#fff; font-family:verdana; border:1px solid silver}

.clearfloat{clear:both;}
.navibar{background-color:#fff;padding:4px; margin:0px auto;max-width: 1000px; padding: 25px 0px 60px; width:46%;}
.navibar a, .navibar a:visited{color:#000; font-size:12px; text-decoration:none; border-bottom:1px dashed #000; text-transform:lowercase}
.navibar a:hover{color:#f00; border-bottom:1px dashed #f00; text-decoration:none;}

a.lk_h2, a.lk_h2:visited{color:#c00; text-decoration:none; font-weight:normal;}
a.lk_h2:hover{color:#000; font-weight:normal;}


/* HEADER */
#header{height: 110px; margin:0px auto; padding:0px; width:100%;}

.menu_right{margin:4px 5px; padding:5px; font-size:100%; display:inline; vertical-align:top; float:right; position:relative;}
.menu_right a.lk1, .menu_right a.lk1:visited{font-weight: normal; color:#000; text-decoration:none;}
.menu_right a.lk1:hover{font-weight: normal; color:#000; text-decoration:none; border-bottom:1px solid #000;}
.menu_right a.lk2, .menu_right a.lk2:visited{font-weight: normal; color:#f00; text-decoration:none; border-bottom:1px dashed #f00; padding-bottom:2px;}
.menu_right a.lk2:hover{font-weight: normal; color:#000; text-decoration:none; border-bottom:1px solid #000;}

#site_map {
        background: #eee;
	display: none;
        overflow: auto;
        margin:0px;
        width:100%;
        border:1px solid #e4e4e4;
        background: #e4e4e4;
        -o-border-radius: 8px;
-icab-border-radius: 8px;
-khtml-border-radius: 8px;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
}

#site_map div {
    float: left;
    width: 33%;
    padding: 0;
    text-align:left;
    height:500px;
}
#site_map div h3{font-size:1em; color: #000; padding: 4px; text-align:center}
#site_map div h4{padding:0 10px 0 10px; margin-left:10px; font-size:0.9em; color:#000; border-bottom:1px solid #808080; text-align:left; font-weight:normal;}
#site_map div p{padding:0 10px 0 10px;}
#site_map div ul li{padding:0 4px 4px 10px; list-style:none;}
#site_map div a.lk3,#site_map div a.lk3:visited{color:#000; text-decoration:none; /*border-bottom:1px solid #808080;*/ padding-bottom:2px;}
#site_map div a.lk3:hover{color:#f00; border-bottom:1px solid #f00;}
#site_map div a.lk2,#site_map div a.lk2:visited{color:#f00; text-decoration:none; border-bottom:1px dashed #f00; padding-bottom:2px; font-weight:bold;}
#site_map div a.lk2:hover{color:#000; border-bottom:1px dashed #000;}

a:focus {
	outline: none;
}

.slide_map {
	margin: 0;
	padding-left: 10px;
        width:124px;
        position:relative;
        float:left;
        text-align:left;
}
.slide_map li{list-style-type:none; position:relative; float:left;}
.slide_map li img{padding:2px; margin:3px;}

#menu{height:35px; width:100%; margin:0 auto 30px; padding:0; text-align:center; z-index:2000;}

#menu ul {z-index:100; margin:0px auto; padding:0; list-style:none; min-width: 200px; max-width:1000px;display:inline-block;}
#menu li {z-index:100; margin:0; padding:0; list-style:none; display:inline-block; display:inline;}
#menu ul ul {z-index:100; position:absolute; left:-9999px; padding:1px 0;}
#menu ul.level1 {z-index:100; text-align:center; padding:0; font-size:19px; width:auto; }
#menu ul.level1 li.level1-li {z-index:100; float:left; display:block; position:relative;}

#menu ul.level1 li.level1-li a, #menu ul.level1 li.level1-li a:link, #menu ul.level1 li.level1-li a:visited{
	color: #000;
        padding:5px 14px;
        font-weight:bold;
	text-decoration: none;
        text-align:left;
}

#menu ul.level1 li.level1-li a:hover, #menu ul.level1.level1-li li a:active{
	color: #f00;
	text-decoration: none;
}

#menu ul.level2 {background:#fff; border: 1px solid silver; opacity:0; z-index:1000;

-o-box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
-icab-box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
-khtml-box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
-webkit-box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);

-o-border-radius: 8px;
-icab-border-radius: 8px;
-khtml-border-radius: 8px;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;

-webkit-transition: opacity 0.6s ease-in-out;
}

#menu ul.large{width:550px;}
#menu ul.large div.left-column{float:left;width:50%;}
#menu ul.large div.left-column dl{margin:10px 0px 20px 5px; line-height: 14px;}
#menu ul.large div.left-column dl a{margin:0px; padding:0px; line-height: 12px;}
#menu ul.large div.left-column dl dt{font-weight: bold; text-align: left; margin:10px 5px; font-size: 13px;}
#menu ul.large div.left-column dl dd{padding:0px 0px 8px 10px; margin:0px; font-size: 12px;}

#menu ul.level1 li.level1-li ul.level2 li a,#menu ul.level1 li.level1-li ul.level2 li a:link,#menu ul.level1 li.level1-li ul.level2 li a:visited{
	color:#000; text-decoration:none; background:none; border:none; font-size:11px; font-weight:normal;
}

#menu ul.level1 li.level1-li ul.level2 li a:hover, #menu ul.level2 li a:active{color: #f00;text-decoration: none; background:none;}
#menu ul.level1 li.level1-li ul.level2 li h4{font-size:13px; padding:2px 5px; text-align:left;}

 #menu b {position:absolute;} /* -- for IE6 non-flyout dropdowns to stop flickering - who knows why --*/

#menu a {display:block; font:normal 0.8em verdana,arial,sans-serif; color:#fff; line-height:32px; text-decoration:none; padding:0 30px 0 10px;}
#menu ul ul a {line-height:25px;}

#menu li.left ul li a {padding:0 10px 0 30px; margin-right:0; margin-left:-10px;}

#menu ul.level1 li.level1-li a.level1-a {float:left;}

#menu ul li.level1-li:hover {padding-bottom:10px; margin-bottom:-10px;}

#menu ul li:hover > ul {visibility:visible; left:0; top:32px; opacity:1; margin-top:0px;}
#menu ul ul li:hover > ul {visibility:visible; left:100%; top:auto; margin-top:-32px; opacity:1;  margin-left:8px;}
#menu li.left:hover > ul {visibility:visible; left:auto; right:-10px; top:32px; opacity:1; margin-right:10px; }
#menu li.left ul li:hover > ul {visibility:visible; left:auto; right:100%; top:auto; margin-top:-32px; margin-right:10px; opacity:1; }


#menu a:hover ul {left:0; top:28px;}
#menu li.left a:hover ul {left:auto; right:-1px; top:28px;}

#menu li.left ul a {text-align:right; padding:0 10px 0 20px;}


#menu a:hover a:hover ul,
#menu a:hover a:hover a:hover ul {left:100%; visibility:visible; }
#menu li.left a:hover a:hover ul,
#menu li.left a:hover a:hover a:hover ul {left:auto; right:0; visibility:visible;}

#menu a:hover ul ul,
#menu a:hover a:hover ul ul {left:-9999px;}
#menu li.left a:hover ul ul,
#menu li.left a:hover a:hover ul ul {left:-9999px;}

#menu li a:hover,
#menu li a.fly:hover {color:#fff; direction:ltr;}
#menu ul li:hover > a,
#menu ul li:hover > a.fly {color:#fff;}

#menu table {position:absolute; height:33px; width:0; left:0; border-collapse:collapse; margin-top:-4px;}
#menu table table {position:absolute; left:99%; height:0; width:0; border-collapse:collapse; margin-top:-44px;}

#info .clear {clear:left;}
#info img {display:block; margin:0px auto;}

.yaform-holster{position:relative; bottom: 0px; margin: 0px auto; width:100%; text-align: center;}

#second-line-menu{list-style-type: none; width:100%; height:70px; line-height:70px;}
#second-line-menu li{position: relative; float: left; height: 70px;}
#second-line-menu li#logo {width: 30%; }
#second-line-menu li#yandex-search{width: 40%;}
#second-line-menu li#contacts_img {width:17%; text-align:right;}
#second-line-menu li#contacts {width: 12%; font-size:16px; font-weight:bold;}

.clearfloat{
    clear:both;
}

/*MAIN BODY*/
#mainBody {
    float: left;
    margin: 0px auto;
    max-width: 1000px;
    min-height: 100%;
    padding: 0px 0px 0px 20px;
    width: 65%;}
#mainBody ul, #mainBody ol{padding-bottom: 5px;}
#mainBody li{padding: 5px 0px 0px 40px;}
#mainBody ul li{list-style-type: circle;}
#mainBody p{margin: 1em 0; line-height: 1.5em;}

#leftcol {float: left;margin-right: 4.5%;padding: 0px 0px 0px 20px;position: relative;width: 22%;}
#leftcol ul {padding: 0;margin: 4px 4px 4px 20px;list-style: none;}
#leftcol li{padding: 5px 0px;}
#leftcol li a, #leftcol li a:visited{color:#363636; text-decoration: underline;}
#leftcol li a:hover{color:#f00;}
#leftcol #navigation-left div ul li a, #leftcol #navigation-left div ul li a:visited {text-decoration:none;}
#leftcol #navigation-left div ul li a:hover {color:#f00;}

.attention-image{position:relative; float: left;}
.shift_right{padding-left: 10px;}
table{width:100%; border-collapse:collapse;}
table tr{margin:0; padding:0; border:none;}
table td, th { padding:2px; margin:0; border:none; vertical-align: top;}
table.standart td, th{vertical-align:top; text-align:center; border:1px solid silver; margin:0; padding:5px;}

input.text,input.text_1,select.text,select.text_1{font-size:14px; font-weight:normal; background-color:#fff; height:auto; border:2px solid silver; width:300px;
    display: block;
     -o-border-radius:5px;
-icab-border-radius: 5px;
-khtml-border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px 5px 5px 5px;
 /* padding: 5px; */
}

/* FOOTER */
#footer {
    clear: both;
	bottom: 0;
	width: 100%;
        margin-bottom: 5px;
        border-top:1px solid silver;
	color: #666;
	left:0;
	line-height: 1.5em;
}
#footer p {
	padding: 10px;
	font-size: 8pt;
}
#footer a.lk1, #footer a.lk1:visited{color:gray; text-decoration:none; border-bottom:1px dashed gray; margin-bottom:2px;}
#footer a.lk1:hover{color:#c00; text-decoration:none; border-bottom:1px dashed #c00; margin-bottom:2px;}